.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tree-container {
  width: 100%;
  height: 100%;
  border: 3px solid black;
  border-top: 0px;
}

.control-panel {
  width: 100%;
  padding: 16px 32px;
  border: 3px solid black;
}
