#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.vertical-container {
  display: flex;
  align-items: center;
  gap: 60px;
  flex-direction: column;
}

.node {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99vh;
  font-size: 1.75rem;
  border: 2px solid white;
  width: 50px;
  height: 50px;
}

.horizontal-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  /*grid-template-columns: repeat(auto-fill, 1fr);*/
}

.tree-container {
  width: 800px;
}

.highlighted {
  border-color: red;
}
