.node-comp {
  width: 50px;
  height: 50px;
  border-radius: 99vw;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.node-data {
  position: absolute;
  left: 50px;
  font-size: 0.65rem;
  width: 100px;
}
